{% extends "partials/base.html" %}

{% block title %} Detalii cerere | Casă {% endblock title %}

{% block content %}
    
    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Detalii cerere | Casă" %}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        {% if perms.leads.view_houselead_details %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="view_house_lead_details" class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="contactInfo">
                                                <h5>
                                                    <a href="{% url 'contacts:contact_details' houselead.contact.id %}">
                                                        {% if houselead.contact.company %}
                                                            {{ houselead.contact.company }}
                                                        {% else %}
                                                            {{ houselead.contact.first_name }} 
                                                            {{ houselead.contact.last_name|default:'' }}
                                                        {% endif %}
                                                    </a>
                                                </h5>
                                                <div>
                                                    <a href="tel:{{ houselead.contact.phone_number|default:'' }}">
                                                        {{ houselead.contact.phone_number|default:'' }}
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="mailto:{{ houselead.contact.email|default:'' }}">
                                                        {{ houselead.contact.email|default:'' }}
                                                    </a>
                                                </div>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip cerere: </strong>
                                                    {{ houselead.property_type }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip casă: </strong>
                                                    {{ houselead.house_type }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip tranzacție: </strong>
                                                    {{ houselead.transaction_type }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Status cerere: </strong>
                                                    {{ houselead.lead_status }}</p>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Județ: </strong>
                                                    {{ houselead.county }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Localitate: </strong>
                                                    {{ houselead.city }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Zonă: </strong>
                                                    {{ houselead.zone|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Stradă: </strong>
                                                    {{ houselead.street|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Destinație: </strong>
                                                    {{ houselead.destination|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr camere: </strong>
                                                    {{ houselead.rooms_number|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr dormitoare: </strong>
                                                    {{ houselead.nr_bedrooms|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr bucătării: </strong>
                                                    {{ houselead.nr_kitchens|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr băi: </strong>
                                                    {{ houselead.nr_bathrooms|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <div class="form-check">
                                                    <input id="bathroom_window" class="form-check-input"
                                                           name="bathroom_window" type="checkbox">
                                                    <label for="bathroom_window" class="form-check-label">
                                                        Geam la baie</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Suprafață minimă (mp): </strong>
                                                    {{ houselead.minimal_surface|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr etaje: </strong>
                                                    {{ houselead.nr_floors|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Anul construcției: </strong>
                                                    {{ houselead.construction_year|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Stadiu construcție: </strong>
                                                    {{ houselead.construction_status|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Mobilier: </strong>
                                                    {{ houselead.furniture|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Stare interior: </strong>
                                                    {{ houselead.interior_finishes|default:'. . .' }}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="basement" class="form-check-input" name="basement"
                                                               type="checkbox">
                                                        <label for="basement" class="form-check-label">Subsol</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="semi_basement" class="form-check-input"
                                                               name="semi_basement" type="checkbox">
                                                        <label for="semi_basement" class="form-check-label">
                                                            Demisol</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="loft" class="form-check-input" name="loft"
                                                               type="checkbox">
                                                        <label for="loft" class="form-check-label">Mansardă</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="attic" class="form-check-input" name="attic"
                                                               type="checkbox">
                                                        <label for="attic" class="form-check-label">Pod</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-3">
                                                    <div class="form-check">
                                                        <input id="garage" class="form-check-input" name="garage"
                                                               type="checkbox">
                                                        <label for="garage" class="form-check-label">Garaj</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Suprafață teren (mp): </strong>
                                                    {{ houselead.terrain_surface|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Alte detalii: </strong>
                                                    {{ houselead.other_details|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Buget (€): </strong>
                                                    {{ houselead.budget|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Metodă de plată: </strong>
                                                    {{ houselead.payment_method|default:'. . .' }}</p>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Urgență: </strong>
                                                    {{ houselead.urgency|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Data limită: </strong><span id="deadline_date"
                                                        data-deadline-date="{{ houselead.deadline_date|default:'. . .' }}">
                                                    {{ houselead.deadline_date|default:'. . .' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Ora limită: </strong>
                                                    {{ houselead.deadline_time|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Proprietăți asociate: </strong>
                                                    {{ houselead.assigned_listings|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Etichetă: </strong>
                                                    {{ houselead.label|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Notițe proprii: </strong>
                                                    {{ houselead.notes|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-body-secondary d-flex flex-column flex-md-row justify-content-md-between">
                                    <div>
                                        Adăugată în data de <span id="created_at"
                                                                  data-created-at="{{ houselead.created_at }}"></span><br>
                                        Ultima actualizare în data de <span id="updated_at"
                                                                            data-updated-at="{{ houselead.updated_at }}"></span>
                                    </div>
                                    <div class="mt-2 mt-md-0 ms-md-auto">
                                        {% if perms.leads.change_houselead %}
                                            <a href="{% url 'leads:edit_house_lead' houselead.id %}"
                                               class="btn btn-subtle-info my-1">
                                                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Editează
                                            </a>
                                        {% endif %}
                                        {% if perms.leads.delete_houselead %}
                                            <a href="{% url 'leads:delete_house_lead' houselead.id %}"
                                               class="btn btn-subtle-danger mx-1 my-1">
                                                <i class="bi bi-trash3"></i>&nbsp;&nbsp;Șterge
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock content %}

{% block extra_javascript %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Conținutul DOM a fost încărcat.');
            
            // Lista de ID-uri pentru checkbox-urile readonly
            const readonlyCheckboxes = ['bathroom_window', 'basement', 'semi_basement', 'loft', 'attic', 'garage'];
            
            readonlyCheckboxes.forEach(function(id) {
                const checkbox = document.getElementById(id);
                if (checkbox) {
                    checkbox.addEventListener('click', function(e) {
                        e.preventDefault();
                    });
                }
            });
            
            // Funcția pentru a formata și afișa data în limba română
            function formatDate(dateString) {
                if (!dateString || dateString === '. . .') {
                    return '. . .';
                }
                var date = new Date(dateString);
                var day = date.getDate();
                var monthNames = ['Ian', 'Feb', 'Mar', 'Apr', 'Mai', 'Iun', 'Iul', 'Aug', 'Sep', 'Oct', 'Noi', 'Dec'];
                var month = monthNames[date.getMonth()];
                var year = date.getFullYear();
                return day + ' ' + month + ' ' + year;
            }
            
            // Format dată "deadline_date"
            var deadlineDateElement = document.getElementById('deadline_date');
            var deadlineDate = deadlineDateElement.getAttribute('data-deadline-date');
            deadlineDateElement.textContent = formatDate(deadlineDate);
            
            // Format dată "created_at"
            var createdAtElement = document.getElementById('created_at');
            var createdAtDate = createdAtElement.getAttribute('data-created-at');
            createdAtElement.innerText = formatDate(createdAtDate);
            
            // Format dată "updated_at"
            var updatedAtElement = document.getElementById('updated_at');
            var updatedAtDate = updatedAtElement.getAttribute('data-updated-at');
            updatedAtElement.innerText = formatDate(updatedAtDate);
        });
    </script>
    
{% endblock extra_javascript %}
