{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Autentificare {% endblock title %}

{% block content %}
    
    <div class="col-xxl-6 mx-auto">
        <div class="card mb-0 border-0 shadow-none">
            <div class="card-body p-sm-5 m-lg-4">
                <div class="text-center mt-2">
                    <h5 class="fs-3xl">Conectează-te la contul tău</h5>
                    <p class="text-muted">Introdu mai jos numele de utilizator și parola contului tău</p>
                </div>
                
                <div class="p-2 mt-4">
                    <form class="needs-validation" novalidate method="POST" action="{% url 'account_login' %}">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} mb-4" role="alert">
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                        {% if field.help_text %}
                            <div class="alert alert-danger mb-4" role="alert">
                                <strong>{{ field.help_text }}</strong>
                            </div>
                        {% endif %}
                        
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="id_login"><strong>Nume utilizator</strong> <span
                                    class="firebrick-message">*</span></label>
                            <input type="text" name="login" class="form-control" id="id_login" required>
                        </div>
                        
                        <div class="mb-4 form-group position-relative">
                            <div class="input-group">
                                <label for="id_password"><strong>Parolă</strong> <span 
                                        class="firebrick-message">*</span></label>
                                <button class="btn btn-link position-absolute end-0 top-50 translate-middle-y text-decoration-none text-muted" 
                                        type="button" id="password-addon">Afișează parola&nbsp;&nbsp;<i 
                                        class="ri-eye-off-fill align-middle"></i></button>
                            </div>
                            <input type="password" name="password" class="form-control mb-2" id="id_password" required>
                            <a href="{% url 'account_reset_password' %}" class="text-muted">Mi-am uitat parola</a>
                        </div>
                        
                        <div class="mb-3 form-check">
                            <input type="checkbox" name="remember" class="form-check-input" id="id_remember">
                            <label class="form-check-label" for="id_remember">Ține-mă minte</label>
                        </div>
                        
                        <div class="mb-2">
                            <button class="btn btn-primary w-100" type="submit">Conectează-te</button>
                        </div>
                    </form>
                </div>
            
            </div><!-- end card body -->
        </div><!-- end card -->
    </div><!-- end col -->
    
{% endblock content %}

{% block extra_javascript %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var passwordInput = document.getElementById('id_password');
            var passwordAddon = document.getElementById('password-addon');
            
            passwordAddon.addEventListener('click', function () {
                if (passwordInput.type === 'password') {
                    passwordInput.type = 'text';
                    passwordAddon.innerHTML = 'Ascunde parola&nbsp;&nbsp;<i class="ri-eye-fill align-middle"></i>';
                } else {
                    passwordInput.type = 'password';
                    passwordAddon.innerHTML = 'Afișează parola&nbsp;&nbsp;<i class="ri-eye-off-fill align-middle"></i>';
                }
            });
        });
    </script>
    
{% endblock extra_javascript %}
