{% extends 'account/base.html' %}
{% load static %}
{% load account %}
{% block title %} Resetare parolă {% endblock title %}

{% block content %}
    
    <div class="col-xxl-6 mx-auto">
        <div class="card mb-0 border-0 shadow-none">
            <div class="card-body p-sm-5 m-lg-4">
                <div class="text-center mt-2">
                    <h5 class="fs-3xl">Link de resetare trimis</h5>
                </div>
                
                <div class="mt-4">
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-muted mx-4">Ți-am trimis un e-mail cu link-ul de resetare a parolei.
                        Contactează-ne dacă nu l-ai primit în câteva minute.</p>
                    
                    <div class="text-center">
                        <p class="mb-2">Înapoi la <a href="{% url 'account_login' %}" 
                               class="fw-semibold text-primary text-decoration-underline">autentificare</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
