{% extends 'partials/base.html' %}

{% block title %} Adaugă cerere nouă {% endblock %}

{% block content %}
    
    {% block pagetitle %}
    {% include "partials/page_title.html" with pagetitle="Cereri" title="Adaugă cerere nouă"%}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        {% if perms.leads.add_lead %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4><i class="bi bi-database-add"></i> Adaugă informațiile cererii</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" class="row g-3">
                                {% csrf_token %}
                                <div class="col-md-12 mb-3">
                                    {{ form.as_p }}
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-subtle-success">
                                        Salvează cererea
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        var storedType = localStorage.getItem('selectedType');
        var storedContact = localStorage.getItem('selectedContact');
    
        if (storedType && storedContact) {
            document.getElementById('id_property_type').value = storedType;
            document.getElementById('id_contact').value = storedContact;
    
            localStorage.removeItem('selectedType');
            localStorage.removeItem('selectedContact');
        }
    });
    </script>
{% endblock %}
