{% extends "partials/base.html" %}

{% block title %} Detalii cerere | Apartament {% endblock title %}

{% block content %}
    
    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Detalii cerere | Apartament" %}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        {% if perms.leads.view_apartmentlead_details %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="view_apartment_lead_details" class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="contactInfo">
                                                <h5>
                                                    <a href="{% url 'contacts:contact_details' apartmentlead.contact.id %}">
                                                        <span>{{ apartmentlead.contact.first_name }}</span> 
                                                        <span>{{ apartmentlead.contact.last_name|default:'' }}</span>
                                                    </a>
                                                </h5>
                                                <div>
                                                    <a href="tel:{{ apartmentlead.contact.phone_number|default:'' }}">
                                                        {{ apartmentlead.contact.phone_number|default:'' }}
                                                    </a>
                                                </div>
                                                <div>
                                                    <a href="mailto:{{ apartmentlead.contact.email|default:'' }}">
                                                        {{ apartmentlead.contact.email|default:'' }}
                                                    </a>
                                                </div>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip cerere: </strong>
                                                    {{ apartmentlead.property_type }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip apartament: </strong>
                                                    {{ apartmentlead.apartment_type }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip tranzacție: </strong>
                                                    {{ apartmentlead.transaction_type }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Status cerere: </strong>
                                                    {{ apartmentlead.lead_status }}</p>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Județ: </strong>
                                                    {{ apartmentlead.county }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Localitate: </strong>
                                                    {{ apartmentlead.city }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Zonă: </strong>
                                                    {{ apartmentlead.zone|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Stradă: </strong>
                                                    {{ apartmentlead.street|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Destinație: </strong>
                                                    {{ apartmentlead.destination|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr camere: </strong>
                                                    {{ apartmentlead.rooms_number|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr dormitoare: </strong>
                                                    {{ apartmentlead.nr_bedrooms|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr băi: </strong>
                                                    {{ apartmentlead.nr_bathrooms|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <div class="form-check">
                                                    <input id="bathroom_window" class="form-check-input readonly-checkbox"
                                                           type="checkbox" {% if apartmentlead.bathroom_window %}checked{% endif %}>
                                                    <label for="bathroom_window" class="form-check-label">Geam la baie</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Suprafață minimă (mp): </strong>
                                                    {{ apartmentlead.minimal_surface|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Etaj: </strong>
                                                    {{ apartmentlead.floor|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-2">
                                                <div class="form-check">
                                                    <input id="excluded_ground_floor" class="form-check-input readonly-checkbox"
                                                           type="checkbox" {% if apartmentlead.excluded_ground_floor %}checked{% endif %}>
                                                    <label for="excluded_ground_floor" class="form-check-label">Exclus parter</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <div class="form-check">
                                                    <input id="excluded_top_floor" class="form-check-input readonly-checkbox"
                                                           type="checkbox" {% if apartmentlead.excluded_top_floor %}checked{% endif %}>
                                                    <label for="excluded_top_floor" class="form-check-label">Exclus ultimul etaj</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr etaje: </strong>
                                                    {{ apartmentlead.nr_floors|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Anul construcției: </strong>
                                                    {{ apartmentlead.construction_year|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Stadiu construcție: </strong>
                                                    {{ apartmentlead.construction_status|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Mobilier: </strong>
                                                    {{ apartmentlead.furniture|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Confort: </strong>
                                                    {{ apartmentlead.comfort|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Compartimentare: </strong>
                                                    {{ apartmentlead.ap_compart|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Orientare: </strong>
                                                    {{ apartmentlead.orientation|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Stare interior: </strong>
                                                    {{ apartmentlead.interior_finishes|default:'. . .' }}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="basement" class="form-check-input readonly-checkbox"
                                                               type="checkbox" {% if apartmentlead.basement %}checked{% endif %}>
                                                        <label for="basement" class="form-check-label">Subsol</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="semi_basement" class="form-check-input readonly-checkbox"
                                                               type="checkbox" {% if apartmentlead.semi_basement %}checked{% endif %}>
                                                        <label for="semi_basement" class="form-check-label">Demisol</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="technical_floor" class="form-check-input readonly-checkbox"
                                                               type="checkbox" {% if apartmentlead.technical_floor %}checked{% endif %}>
                                                        <label for="technical_floor" class="form-check-label">Etaj tehnic</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="loft" class="form-check-input readonly-checkbox"
                                                               type="checkbox" {% if apartmentlead.loft %}checked{% endif %}>
                                                        <label for="loft" class="form-check-label">Mansardă</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="attic" class="form-check-input readonly-checkbox"
                                                               type="checkbox" {% if apartmentlead.attic %}checked{% endif %}>
                                                        <label for="attic" class="form-check-label">Pod</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-3">
                                                    <div class="form-check">
                                                        <input id="elevator" class="form-check-input readonly-checkbox"
                                                               type="checkbox" {% if apartmentlead.elevator %}checked{% endif %}>
                                                        <label for="elevator" class="form-check-label">Lift</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Alte detalii: </strong>
                                                    {{ apartmentlead.other_details|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Buget (€): </strong>
                                                    {{ apartmentlead.budget|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Metodă de plată: </strong>
                                                    {{ apartmentlead.payment_method|default:'. . .' }}</p>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Urgență: </strong>
                                                    {{ apartmentlead.urgency|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Data limită: </strong><span id="deadline_date"
                                                        data-deadline-date="{{ apartmentlead.deadline_date|default:'. . .' }}">
                                                    {{ apartmentlead.deadline_date|default:'. . .' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Ora limită: </strong>
                                                    {{ apartmentlead.deadline_time|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Proprietăți asociate: </strong>
                                                    {{ apartmentlead.assigned_listings|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Etichetă: </strong>
                                                    {{ apartmentlead.label|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Notițe proprii: </strong>
                                                    {{ apartmentlead.notes|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-body-secondary d-flex flex-column flex-md-row justify-content-md-between">
                                    <div>
                                        Adăugată în data de <span id="created_at"
                                                                  data-created-at="{{ apartmentlead.created_at }}"></span><br>
                                        Ultima actualizare în data de <span id="updated_at"
                                                                            data-updated-at="{{ apartmentlead.updated_at }}"></span>
                                    </div>
                                    <div class="mt-2 mt-md-0 ms-md-auto">
                                        {% if perms.leads.change_apartmentlead %}
                                            <a href="{% url 'leads:edit_apartment_lead' apartmentlead.id %}" 
                                               class="btn btn-subtle-info my-1">
                                                <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Editează
                                            </a>
                                        {% endif %}
                                        {% if perms.leads.delete_apartmentlead %}
                                            <a href="{% url 'leads:delete_apartment_lead' apartmentlead.id %}" 
                                               class="btn btn-subtle-danger mx-1 my-1">
                                                <i class="bi bi-trash3"></i>&nbsp;&nbsp;Șterge
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock content %}

{% block extra_javascript %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Conținutul DOM a fost încărcat.');

            // Lista de ID-uri pentru checkbox-urile readonly
            const readonlyCheckboxes = ['bathroom_window', 'excluded_ground_floor', 'excluded_top_floor', 'basement', 
                'semi_basement', 'technical_floor', 'loft', 'attic', 'elevator'];
            
            readonlyCheckboxes.forEach(function(id) {
                const checkbox = document.getElementById(id);
                if (checkbox) {
                    checkbox.addEventListener('click', function(e) {
                        e.preventDefault();
                    });
                }
            });
            
            // Funcția pentru a formata și afișa data în limba română
            function formatDate(dateString) {
                if (!dateString || dateString === '. . .') {
                    return '. . .';
                }
                var date = new Date(dateString);
                var day = date.getDate();
                var monthNames = ['Ian', 'Feb', 'Mar', 'Apr', 'Mai', 'Iun', 'Iul', 'Aug', 'Sep', 'Oct', 'Noi', 'Dec'];
                var month = monthNames[date.getMonth()];
                var year = date.getFullYear();
                return day + ' ' + month + ' ' + year;
            }

            // Format dată "deadline_date"
            var deadlineDateElement = document.getElementById('deadline_date');
            var deadlineDate = deadlineDateElement.getAttribute('data-deadline-date');
            deadlineDateElement.textContent = formatDate(deadlineDate);

            // Format dată "created_at"
            var createdAtElement = document.getElementById('created_at');
            var createdAtDate = createdAtElement.getAttribute('data-created-at');
            createdAtElement.innerText = formatDate(createdAtDate);
            
            // Format dată "updated_at"
            var updatedAtElement = document.getElementById('updated_at');
            var updatedAtDate = updatedAtElement.getAttribute('data-updated-at');
            updatedAtElement.innerText = formatDate(updatedAtDate);
        });
    </script>
    
{% endblock extra_javascript %}
