{% extends 'partials/base.html' %}

{% block title %} Adaugă proprietate nouă {% endblock %}

{% block content %}
    
    {% block pagetitle %}
    {% include 'partials/page_title.html' with pagetitle='Cereri' title='Adaugă proprietate nouă'%}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        <div class='row justify-content-center'>
            <div class='col-md-6'>
                <div class='card'>
                    <div class='card-header'>
                        <h4><i class='bi bi-database-add'></i> Asociază un contact și alege tipul proprietății</h4>
                    </div>
                    <div class='card-body'>
                        <form method='post' action='' id='propertyForm'>
                            {% csrf_token %}

                            <label for='id_contact'>Contact asociat⋆:</label>
                            {{ form.contact }}

                            <label for='id_property_type'>Tipul proprietății⋆:</label>
                            {{ form.property_type }}

                            <button type='submit'>Continuă</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}

<script>
    
    document.getElementById('id_property_type').addEventListener('change', function () {
        function handleFormSubmit(event) {
            event.preventDefault();
            
            var selectedContact = document.getElementById('id_contact').value;
            var selectedType = document.getElementById('id_property_type').value;
            
            sessionStorage.setItem('selectedContact', selectedContact);
            sessionStorage.setItem('selectedType', selectedType);
            
            var redirectUrl = '';
            if (selectedType === 'Apartament') {
                redirectUrl = '{% url 'leads:add_apartment_lead' %}';
            } else if (selectedType === 'Casă') {
                redirectUrl = '{% url 'leads:add_house_lead' %}';
            } else if (selectedType === 'Teren') {
                redirectUrl = '{% url 'leads:add_terrain_lead' %}';
            } else if (selectedType === 'Spațiu comercial') {
                redirectUrl = '{% url 'leads:add_commercial_space_lead' %}';
            } else if (selectedType === 'Spațiu de birouri') {
                redirectUrl = '{% url 'leads:add_office_space_lead' %}';
            } else if (selectedType === 'Spațiu industrial') {
                redirectUrl = '{% url 'leads:add_industrial_space_lead' %}';
            }
            window.location.href = redirectUrl;
        }
    });
    
</script>
