/*
Application: Real Estate CRM System App
Developed by: Adrian Dolca
Website: https://adrian-dolca.ro
Contact: contact@adrian-dolca.ro
File: Custom Css File
*/
/* Butoane tabele */
.btn-custom-width {
    width: 100%;
    margin-bottom: 3px;
}

/* Mărime font bară laterală */
span.sidebar-text {
    font-size: 14px;
}

/* Buton vizualizare parole */
.password-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: transparent;
    border: none;
}

.password-toggle:focus {
    outline: none;
}

/* Container Allauth acasă */
.alert-container {
    display: none;
    z-index: 9999;
}

.alert {
    position: relative;
    display: block;
}

.position-fixed {
    position: fixed !important;
}

.top-0 {
    top: 60px !important;
}

.end-0 {
    right: 0 !important;
}

/* Culoare mesaj eroare */
.error-message {
    color: firebrick;
}
