{% extends "partials/base.html" %}

{% block title %} Adăugare cerere | Spațiu comercial {% endblock title %}

{% block content %}
    
    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Adăugare cerere | Spațiu comercial" %}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        {% if perms.leads.add_commercialspacelead %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="add_commercial_space_lead" method="post" enctype="multipart/form-data" class="row" 
                                  action="{% url 'leads:add_commercial_space_lead' %}">
                                {% csrf_token %}
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="contactInfo">
                                                <h5><span id="firstName"></span> <span id="lastName"></span></h5>
                                                <div id="phoneNumber"></div>
                                                <div id="email"></div>
                                            </div>
                                            <input id="contact" name="contact" type="hidden" value="{{ storedContactId }}" 
                                                   required>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <label for="property_type" class="form-label">Tip cerere <span 
                                                        class="firebrick-message">*</span></label>
                                                <input id="property_type" class="form-control text-muted" 
                                                       name="property_type" value="{{ storedType }}" readonly required>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="space_type" class="form-label">Tip spațiu comercial <span 
                                                        class="firebrick-message">*</span></label>
                                                <select id="space_type" class="form-select" name="space_type" required>
                                                    {% for value, label in form.fields.space_type.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="transaction_type" class="form-label">Tip tranzacție <span
                                                        class="firebrick-message">*</span></label>
                                                <select id="transaction_type" class="form-select" name="transaction_type" 
                                                        required>
                                                    {% for value, label in form.fields.transaction_type.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="lead_status" class="form-label">Status cerere <span
                                                        class="firebrick-message">*</span></label>
                                                <select id="lead_status" class="form-select" name="lead_status" required>
                                                    {% for value, label in form.fields.lead_status.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <label for="county" class="form-label">Județ <span
                                                        class="firebrick-message">*</span></label>
                                                <select id="county" class="form-control" name="county" data-choices 
                                                        required>
                                                    {% for value, label in form.fields.county.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="city" class="form-label">Localitate <span
                                                        class="firebrick-message">*</span></label>
                                                <input id="city" class="form-control" name="city" type="text" required>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="zone" class="form-label">Zonă</label>
                                                <input id="zone" class="form-control" name="zone" type="text">
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="street" class="form-label">Stradă</label>
                                                <input id="street" class="form-control" name="street" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <label for="destination" class="form-label">Destinație</label>
                                                <select id="destination" class="form-select" name="destination">
                                                    {% for value, label in form.fields.destination.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="pedestrian_traffic" class="form-label">Trafic pietonal</label>
                                                <select id="pedestrian_traffic" class="form-select" name="pedestrian_traffic">
                                                    {% for value, label in form.fields.pedestrian_traffic.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="rooms_number" class="form-label">Număr camere</label>
                                                <input id="rooms_number" class="form-control" name="rooms_number" 
                                                       type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="nr_locker_rooms" class="form-label">Număr vestiare</label>
                                                <input id="nr_locker_rooms" class="form-control" name="nr_locker_rooms" 
                                                       type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="nr_bathrooms" class="form-label">Număr băi</label>
                                                <input id="nr_bathrooms" class="form-control" name="nr_bathrooms" 
                                                       type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="floor" class="form-label">Etaj</label>
                                                <select id="floor" class="form-select" name="floor">
                                                    {% for value, label in form.fields.floor.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                                <p></p>
                                                <div id="floor-error" class="firebrick-message"></div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="nr_floors" class="form-label">Număr etaje</label>
                                                <input id="nr_floors" class="form-control" name="nr_floors" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="minimal_surface" class="form-label">Suprafață minimă (mp)</label>
                                                <input id="minimal_surface" class="form-control" name="minimal_surface" 
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <label for="glass_case" class="form-label">Vitrină (m)</label>
                                                <input id="glass_case" class="form-control" name="glass_case" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="inside_height" class="form-label">Înălțime interioară (m)</label>
                                                <input id="inside_height" class="form-control" name="inside_height" 
                                                       type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="space_compart" class="form-label">Compartimentare</label>
                                                <select id="space_compart" class="form-select" name="space_compart">
                                                    {% for value, label in form.fields.space_compart.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="nr_parking_spaces" class="form-label">Număr locuri parcare</label>
                                                <input id="nr_parking_spaces" class="form-control" name="nr_parking_spaces" 
                                                       type="text">
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="semi_basement" class="form-check-input" 
                                                               name="semi_basement" type="checkbox">
                                                        <label for="semi_basement" class="form-check-label">Demisol</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="technical_floor" class="form-check-input" 
                                                               name="technical_floor" type="checkbox">
                                                        <label for="technical_floor" class="form-check-label">
                                                            Etaj tehnic</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-3">
                                                    <div class="form-check">
                                                        <input id="loft" class="form-check-input" name="loft" 
                                                               type="checkbox">
                                                        <label for="loft" class="form-check-label">Mansardă</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="other_details" class="form-label">Alte detalii</label>
                                                <textarea id="other_details" class="form-control" name="other_details" 
                                                          type="text" rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <label for="budget" class="form-label">Buget (€)</label>
                                                <input id="budget" class="form-control" name="budget" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="payment_method" class="form-label">Metodă de plată</label>
                                                <select id="payment_method" class="form-select" name="payment_method">
                                                    {% for value, label in form.fields.payment_method.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <label for="urgency" class="form-label">Urgență</label>
                                                <select id="urgency" class="form-select" name="urgency">
                                                    {% for value, label in form.fields.urgency.choices %}
                                                        {% if value == "Normal" %}
                                                            <option value="{{ value }}" selected>{{ label }}</option>
                                                        {% else %}
                                                            <option value="{{ value }}">{{ label }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="deadline_date" class="form-label">Data limită</label>
                                                <input id="deadline_date" class="form-control" name="deadline_date" 
                                                       type="date" placeholder="zz lll aaaa">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="deadline_time" class="form-label">Ora limită</label>
                                                <input id="deadline_time" class="form-control" name="deadline_time" 
                                                       type="time" step="600" placeholder="oo:mm">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="assigned_listings" class="form-label">
                                                    Proprietăți asociate</label>
                                                <select id="assigned_listings" class="form-control" 
                                                        name="assigned_listings" multiple>
                                                    {% for value, label in form.fields.assigned_listings.choices %}
                                                        <option value="{{ value }}"></option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="label" class="form-label">Etichetă</label>
                                                <select id="label" class="form-select" name="label">
                                                    {% for value, label in form.fields.label.choices %}
                                                        <option value="{{ value }}">{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="notes" class="form-label">Notițe proprii</label>
                                                <textarea id="notes" class="form-control" name="notes" type="text" 
                                                          rows="4"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-subtle-success float-end">
                                                <i class="bi bi-check-lg"></i>&nbsp;&nbsp;Salvează cererea
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock content %}

{% block extra_javascript %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Conținutul DOM a fost încărcat.');

            var storedType = sessionStorage.getItem('selectedType');
            var storedContactId = sessionStorage.getItem('selectedContact');

            console.log('Tip cerere:', storedType);
            console.log('ID contact:', storedContactId);

            if (document.getElementById('property_type')) {
                document.getElementById('property_type').value = storedType;
            }
            if (document.getElementById('contact')) {
                document.getElementById('contact').value = storedContactId;
            }

            if (storedContactId) {
                fetch('/contacts/api/contact-details/' + storedContactId)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Eroare la solicitarea datelor contactului!');
                        }
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('firstName').innerText = data.first_name;
                        document.getElementById('lastName').innerText = data.last_name;
                        document.getElementById('phoneNumber').innerText = data.phone_number;
                        document.getElementById('email').innerText = data.email;
                    })
                    .catch(error => {
                        console.error('Eroare:', error);
                    });
            }
            
            // Inițializez flatpickr pentru câmpul de dată
            flatpickr('#deadline_date', {
                dateFormat: 'd.m.Y',
                altInput: true,
                altFormat: 'd M Y',
                allowInput: true,
                locale: {
                    firstDayOfWeek: 1,
                    weekdays: {
                        shorthand: ['Dum', 'Lun', 'Mar', 'Mie', 'Joi', 'Vin', 'Sâm'],
                        longhand: ['Duminică', 'Luni', 'Marți', 'Miercuri', 'Joi', 'Vineri', 'Sâmbătă']
                    },
                    months: {
                        shorthand: ['Ian', 'Feb', 'Mar', 'Apr', 'Mai', 'Iun', 'Iul', 'Aug', 'Sep', 'Oct', 'Noi', 'Dec'],
                        longhand: ['Ianuarie', 'Februarie', 'Martie', 'Aprilie', 'Mai', 'Iunie', 'Iulie', 'August', 
                            'Septembrie', 'Octombrie', 'Noiembrie', 'Decembrie']
                    }
                }
            });
            
            // Inițializez flatpickr pentru câmpul de timp
            flatpickr('#deadline_time', {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                time_24hr: true,
                allowInput: true,
                minuteIncrement: 10
            });
            
            var leadAssignedListings = document.getElementById('assigned_listings');
            new Choices(leadAssignedListings, {
                loadingText: 'Se încarcă...',
                noChoicesText: 'Nicio proprietate disponibilă',
                noResultsText: 'Niciun rezultat găsit'
            });
            
            document.getElementById('add_commercial_space_lead').addEventListener('submit', function(event) {
                event.preventDefault();

                var formData = new FormData(this);
                
                // Convertesc virgula în punct pentru toate zecimalele
                formData.forEach(function(value, key) {
                    if (typeof value === 'string') {
                        formData.set(key, value.replace(/,/g, '.'));
                    }
                });

                console.log('Datele trimise sunt:', formData);

                fetch('/leads/add-commercial-space-lead', {
                    method: 'POST',
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        window.location.href = 'lead-added';
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data && data.errors) {
                        Object.keys(data.errors).forEach(field => {
                            const errorMessage = data.errors[field][0].message;
                            const fieldElement = document.getElementById(field + '-error');
                            if (fieldElement) {
                                fieldElement.textContent = errorMessage;
                            }
                        });
                    }
                })
                .catch(error => {
                    console.error('Eroare în timpul salvării:', error);
                });
            });
        });
    </script>

{% endblock extra_javascript %}
