{% extends "partials/base.html" %}

{% block title %} Adăugare cerere nouă {% endblock title %}

{% block content %}
    
    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Adăugare cerere nouă" %}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">
                            Selectează un contact sau adaugă unul nou și selectează tipul de cerere
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="mb-2">
                                    <form method="post" action="" id="add_new_lead">
                                        {% csrf_token %}
                                    
                                        <div class="row mb-2">
                                            <label for="contact" class="form-label">Contact asociat <span
                                                    class="firebrick-message">*</span></label>
                                            <div class="col-lg-10 col-sm-10 mb-2">
                                                <select id="contact" class="form-select" name="contact" required>
                                                    <option value="" disabled selected>Selectează un contact</option>
                                                    {% for contact in contacts %}
                                                        <option value="{{ contact.id }}">
                                                            {{ contact.first_name }} {{ contact.last_name|default_if_none:"" }} -
                                                            {{ contact.phone_number|default_if_none:"" }}
                                                            {{ contact.email|default_if_none:"" }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-2 col-sm-2 d-flex justify-content-md-end justify-content-center mb-2">
                                                <button id="open-modal" class="btn btn-subtle-primary add-btn" type="button"
                                                        data-bs-toggle="modal" data-bs-target="#addContact"><strong>+</strong>
                                                </button>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label for="property_type" class="form-label">Tip cerere <span 
                                                    class="firebrick-message">*</span></label>
                                            <select id="property_type" class="form-select mb-4" name="property_type">
                                                {% for value, label in form.fields.property_type.choices %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    
                                        <div class="d-flex justify-content-center w-100">
                                            <button type="submit" class="btn btn-subtle-success col-12">Continuă</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="modal fade" id="addContact" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title">Adaugă un contact nou</h5>
                </div>
            
                <div class="modal-body">
                    <div class="form-group">
                        <label for="first_name" class="form-label">Prenume <span
                                class="firebrick-message">*</span></label>
                        <div id="firstNameError" class="firebrick-message"></div>
                        <input id="first_name" class="form-control" name="first_name" type="text" required>
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="last_name" class="form-label">Nume de familie</label>
                        <input id="last_name" class="form-control" name="last_name" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="phone_number" class="form-label">Număr de telefon <span
                                class="text-muted">*</span></label>
                        <div id="phoneError" class="firebrick-message"></div>
                        <input id="phone_number" class="form-control" name="phone_number" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="email" class="form-label">Adresă de e-mail <span
                                class="text-muted">*</span></label>
                        <div id="emailError" class="firebrick-message"></div>
                        <input id="email" class="form-control" name="email" type="email">
                    </div>
                    <hr class="border-secondary-subtle">
                    <div class="form-group">
                        <label for="company" class="form-label">Companie</label>
                        <input id="company" class="form-control" name="company" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="job_title" class="form-label">Funcție</label>
                        <input id="job_title" class="form-control" name="job_title" type="text">
                    </div>
                    <hr class="border-secondary-subtle">
                    <div class="form-group">
                        <label for="city" class="form-label">Localitate</label>
                        <input id="city" class="form-control" name="city" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="street_address" class="form-label">Stradă</label>
                        <input id="street_address" class="form-control" name="street_address" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="street_number" class="form-label">Număr stradă</label>
                        <input id="street_number" class="form-control" name="street_number" type="number">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="block" class="form-label">Bloc</label>
                        <input id="block" class="form-control" name="block" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="scale" class="form-label">Scară</label>
                        <input id="scale" class="form-control" name="scale" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="apartment_number" class="form-label">Număr apartament</label>
                        <input id="apartment_number" class="form-control" name="apartment_number" type="number">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="county" class="form-label">Județ</label>
                        <input id="county" class="form-control" name="county" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="country" class="form-label">Țară</label>
                        <input id="country" class="form-control" name="country" type="text">
                    </div>
                    <hr class="border-secondary-subtle">
                    <div class="form-group">
                        <label for="document_type" class="form-label">Tip document</label>
                        <select id="document_type" class="form-select" name="document_type">
                            <option value="" selected>--------</option>
                            {% for value, label in document_type %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="id_series_nr" class="form-label">Serie / Număr document</label>
                        <div id="idSeriesNrError" class="firebrick-message"></div>
                        <input id="id_series_nr" class="form-control" name="id_series_nr" type="text">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="cnp" class="form-label">CNP</label>
                        <div id="cnpError" class="firebrick-message"></div>
                        <input id="cnp" class="form-control" name="cnp" type="number">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="issue_date" class="form-label">Data emiterii</label>
                        <div id="issueDateError" class="firebrick-message"></div>
                        <input id="issue_date" class="form-control" name="issue_date" type="date" 
                               placeholder="zz lll aaaa">
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="passport_country" class="form-label">Țara emitentă (doar pentru pașaport)</label>
                        <div id="passportCountryError" class="firebrick-message"></div>
                        <input id="passport_country" class="form-control" name="passport_country" type="text">
                    </div>
                    <hr class="border-secondary-subtle">
                    <div class="form-group">
                        <label for="contact_type" class="form-label">Tip contact</label>
                        <select id="contact_type" class="form-select" name="contact_type">
                            <option value="" selected>--------</option>
                            {% for value, label in contact_type %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="contact_category" class="form-label">Categorie</label>
                        <select id="contact_category" class="form-select" name="contact_category">
                            <option value="" selected>--------</option>
                            {% for value, label in contact_category %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr class="border-secondary-subtle">
                    <div class="form-group">
                        <label for="other_details" class="form-label">Alte detalii</label>
                        <textarea id="other_details" class="form-control" name="other_details" rows="3"></textarea>
                    </div>
                </div>
            
                <div class="modal-footer border-top">
                    <div class="hstack gap-2 justify-content-end">
                        <button id="close-modal" class="btn btn-light" type="button" data-bs-dismiss="modal" 
                                aria-label="Close">Închide</button>
                        <button id="save-modal" class="btn btn-subtle-success" type="submit">Salvează contactul</button>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    
{% endblock content %}

{% block extra_javascript %}
    
    <script>
        var isFormDirty = false;
        
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Conținutul DOM a fost încărcat.');
            
            var idContactElement = document.getElementById('contact');
            console.log('Elementul ID "Choices":', idContactElement);
            
            var realOptions = idContactElement.querySelectorAll('option:not([disabled])');
            realOptions.forEach(function(option) {
                idContactElement.append(new Option(option.textContent.trim(), option.value));
            });
            
            console.log('Datele opțiunilor:', realOptions);
            
            new Choices(idContactElement, {
                loadingText: 'Se încarcă...',
                noResultsText: 'Niciun rezultat găsit',
                searchFields: ['label'],
                searchEnabled: true,
                shouldSort: false,
                renderSelectedChoices: 'always'
            });
            
            console.log('Inițializare "Choices" cu succes!');
            
            var myModal = new bootstrap.Modal(document.getElementById('addContact'));
            
            document.getElementById('open-modal').addEventListener('click', function () {
                myModal.show();
            });
            
            document.getElementById('close-modal').addEventListener('click', function () {
                myModal.hide();
            });
            
            var formFields = ['first_name', 'last_name', 'phone_number', 'email', 'company', 'job_title', 'city', 
                'street_address', 'street_number', 'block', 'scale', 'apartment_number', 'county', 'country', 
                'document_type', 'id_series_nr', 'cnp', 'issue_date', 'passport_country', 'contact_type', 
                'contact_category', 'other_details'];
            
            formFields.forEach(function (field) {
                document.getElementById(field).addEventListener('input', function () {
                    isFormDirty = true;
                });
            });
            
            window.addEventListener('beforeunload', function (event) {
                if (isFormDirty) {
                    event.preventDefault();
                    event.returnValue = 'Modificările nesalvate vor fi pierdute. Sigur vrei să părăsești pagina?';
                    return 'Modificările nesalvate vor fi pierdute. Sigur vrei să părăsești pagina?';
                }
            });
            
            document.getElementById('save-modal').addEventListener('click', function (event) {
                event.preventDefault();
                if (validateForm()) {
                    saveContact(
                        document.getElementById('first_name').value,
                        document.getElementById('last_name').value,
                        document.getElementById('phone_number').value,
                        document.getElementById('email').value,
                        
                        document.getElementById('company').value,
                        document.getElementById('job_title').value,
                        
                        document.getElementById('city').value,
                        document.getElementById('street_address').value,
                        document.getElementById('street_number').value,
                        document.getElementById('block').value,
                        document.getElementById('scale').value,
                        document.getElementById('apartment_number').value,
                        document.getElementById('county').value,
                        document.getElementById('country').value,
                        
                        document.getElementById('document_type').value,
                        document.getElementById('id_series_nr').value,
                        document.getElementById('cnp').value,
                        formatDateToServer(document.getElementById('issue_date').value),
                        document.getElementById('passport_country').value,
                        
                        document.getElementById('contact_type').value,
                        document.getElementById('contact_category').value,
                        
                        document.getElementById('other_details').value
                    );
                }
            });
            
            document.getElementById('add_new_lead').addEventListener('submit', handleFormSubmit);
            
            isFormDirty = false;
            myModal.hide();
            
            function checkDuplicateField(fieldName, value) {
                console.log('Verificare duplicare: "', fieldName, '", cu valoarea:', value);
                
                if (!value) {
                    return Promise.resolve(false);
                }
                
                return fetch(`/contacts/api/check-duplicate/?field=${fieldName}&value=${value}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Eroare HTTP! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.isDuplicate !== undefined && data.isDuplicate !== null && data.isDuplicate !== '') {
                            return data.isDuplicate;
                        } else {
                            throw new Error('Răspuns invalid de la server!');
                        }
                    })
                    .catch(error => {
                        console.error('Eroare la verificarea duplicatelor:', error);
                        return false;
                    });
            }
            
            async function saveContact(firstName, lastName, phoneNumber, email, company, jobTitle, city, streetAddress, 
                                       streetNumber, block, scale, apartmentNumber, county, country, documentType, 
                                       idSeriesNr, cnp, issueDate, passportCountry, contactType, contactCategory, 
                                       otherDetails) {
                const csrfToken = getCSRFToken();
                const headers = {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                };
                const data = {
                    first_name: firstName,
                    last_name: lastName,
                    phone_number: phoneNumber,
                    email: email,
                    
                    company: company,
                    job_title: jobTitle,
                    
                    city: city,
                    street_address: streetAddress,
                    street_number: streetNumber,
                    block: block,
                    scale: scale,
                    apartment_number: apartmentNumber,
                    county: county,
                    country: country,
                    
                    document_type: documentType,
                    id_series_nr: idSeriesNr,
                    cnp: cnp,
                    issue_date: issueDate,
                    passport_country: passportCountry,
                    
                    contact_type: contactType,
                    contact_category: contactCategory,
                    
                    other_details: otherDetails,
                };
                
                const filteredData = Object.fromEntries(
                    Object.entries(data).filter(([_, value]) => value !== null && value !== undefined && value !== '')
                );
                
                console.log('Date prezente în "saveContact":', filteredData);
                
                try {
                    const response = await fetch('/contacts/api/save-contact/', {
                        method: 'POST',
                        headers: headers,
                        body: JSON.stringify(filteredData),
                    });
                    
                    const responseData = await response.json();
                    
                    console.log('Date trimise către server:', filteredData);
                    
                    if (responseData.success) {
                        console.log('Contactul a fost salvat cu succes!');
                        myModal.hide();
                        isFormDirty = false;
                        formFields.forEach(function (field) {
                            document.getElementById(field).value = '';
                        });
                    } else {
                        console.error('Eroare la salvarea contactului:', responseData.message);
                    }
                } catch (error) {
                    console.error('Eroare la comunicarea cu serverul:', error);
                }
            }
            
            flatpickr('#issue_date', {
                dateFormat: 'd.m.Y',
                altInput: true,
                altFormat: 'd M Y',
                allowInput: true,
                locale: 'ro'
            });
            
            function formatDateToServer(dateString) {
                var parts = dateString.split('.');
                return `${parts[2]}-${parts[1]}-${parts[0]}`;
            }
            
            function getCSRFToken() {
                return document.cookie.split('; ')
                    .find(row => row.startsWith('csrftoken='))
                    .split('=')[1];
            }
            
            function validatePhoneNumber(phoneNumber) {
                return phoneNumber.length >= 10 && phoneNumber.length <= 14 && /^\d+$/.test(phoneNumber);
            }
            
            function validateIdSeriesNr(idSeriesNr) {
                return idSeriesNr.length >= 8 && idSeriesNr.length <= 9 && /^[A-Z0-9\s]+$/.test(idSeriesNr);
            }
            
            function validateCnp(cnp) {
                return cnp.length === 13 && /^\d+$/.test(cnp);
            }
            
            function validateForm() {
                var firstNameValue = document.getElementById('first_name').value;
                var phoneValue = document.getElementById('phone_number').value;
                var emailValue = document.getElementById('email').value;
                var isDuplicatePhone = checkDuplicateField('phone_number', phoneValue);
                var isDuplicateEmail = checkDuplicateField('email', emailValue);
                
                var documentTypeValue = document.getElementById('document_type').value;
                var idSeriesNrValue = document.getElementById('id_series_nr').value;
                var cnpValue = document.getElementById('cnp').value;
                var issueDateValue = document.getElementById('issue_date').value;
                var passportCountryValue = document.getElementById('passport_country').value;
                
                clearErrorMessages()
                
                if (!firstNameValue) {
                    displayError('firstNameError', 'Trebuie să introduci obligatoriu un prenume.');
                    return false;
                }
                
                if (phoneValue && !validatePhoneNumber(phoneValue)) {
                    displayError('phoneError', 'Numărul de telefon trebuie să conțină între 10 și 14 cifre legate.');
                    return false;
                }
                
                if (!phoneValue && !emailValue) {
                    displayError('phoneError', 'Trebuie să introduci obligatoriu cel puțin ' +
                        'un număr de telefon sau o adresă de e-mail.');
                    return false;
                }
                
                return Promise.all([isDuplicatePhone, isDuplicateEmail]).then(([duplicatePhone, duplicateEmail]) => {
                    console.log('Nr. tel. duplicat:', duplicatePhone);
                    console.log('E-mail duplicat:', duplicateEmail);
                    if (duplicatePhone) {
                        displayError('phoneError', 'Există deja un contact cu acest număr de telefon. ' +
                            'Introdu alt număr de telefon sau actualizează contactul existent.');
                        return false;
                    }
                    
                    if (duplicateEmail) {
                        displayError('emailError', 'Există deja un contact cu această adresă de e-mail. ' +
                            'Introdu altă adresă de e-mail sau actualizează contactul existent.');
                        return false;
                    }
                    
                    if (documentTypeValue === 'Carte de identitate') {
                        if (!idSeriesNrValue) {
                            displayError('idSeriesNrError', 'Seria și numărul cărții de identitate sunt obligatorii.');
                            return false;
                        }
                        
                        if (idSeriesNrValue && !validateIdSeriesNr(idSeriesNrValue)) {
                            displayError('idSeriesNrError', 'Seria și numărul cărții de identitate sunt invalide. ' +
                                '(ex. corect: "AZ 123456", cu majuscule)');
                            return false;
                        }
                        
                        if (cnpValue && !validateCnp(cnpValue)) {
                            displayError('cnpError', 'CNP-ul este invalid. Trebuie să conțină exact 13 cifre.');
                            return false;
                        }
                        
                        if (!issueDateValue) {
                            displayError('issueDateError', 'Data emiterii cărții de identitate este obligatorie.');
                            return false;
                        }
                    }
                    
                    if (documentTypeValue === 'Pașaport') {
                        if (!idSeriesNrValue) {
                            displayError('idSeriesNrError', 'Numărul pașaportului este obligatoriu.');
                            return false;
                        }
                        
                        if (idSeriesNrValue && !validateIdSeriesNr(idSeriesNrValue)) {
                            displayError('idSeriesNrError', 'Numărul pașaportului este invalid. ' +
                                '(ex. corect, după caz: "123456789" sau "AZ1234567", cu majuscule)');
                            return false;
                        }
                        
                        if (!issueDateValue) {
                            displayError('issueDateError', 'Data emiterii pașaportului este obligatorie.');
                            return false;
                        }
                        
                        if (!passportCountryValue) {
                            displayError('passportCountryError', 'Țara emitentă a pașaportului este obligatorie.');
                            return false;
                        }
                    }
                    return true;
                }).catch(error => {
                    console.error('Eroare în "Promise":', error);
                });
            }
            
            function displayError(elementId, errorMessage) {
                var errorElement = document.getElementById(elementId);
                if (errorElement) {
                    errorElement.innerText = errorMessage;
                }
            }
            
            function clearErrorMessages() {
                displayError('firstNameError', '');
                displayError('phoneError', '');
                displayError('emailError', '');
                displayError('idSeriesNrError', '');
                displayError('cnpError', '');
                displayError('issueDateError', '');
                displayError('passportCountryError', '');
            }
        });
        
        function handleFormSubmit(event) {
            event.preventDefault();
            
            var selectedContact = document.getElementById('contact').value;
            var selectedType = document.getElementById('property_type').value;
            
            sessionStorage.setItem('selectedContact', selectedContact);
            sessionStorage.setItem('selectedType', selectedType);
            
            var redirectUrl = '';
            if (selectedType === 'Apartament') {
                redirectUrl = '{% url "leads:add_apartment_lead" %}';
            } else if (selectedType === 'Casă') {
                redirectUrl = '{% url "leads:add_house_lead" %}';
            } else if (selectedType === 'Teren') {
                redirectUrl = '{% url "leads:add_terrain_lead" %}';
            } else if (selectedType === 'Spațiu comercial') {
                redirectUrl = '{% url "leads:add_commercial_space_lead" %}';
            } else if (selectedType === 'Spațiu de birouri') {
                redirectUrl = '{% url "leads:add_office_space_lead" %}';
            } else if (selectedType === 'Spațiu industrial') {
                redirectUrl = '{% url "leads:add_industrial_space_lead" %}';
            }
            window.location.href = redirectUrl;
        }
    </script>

{% endblock extra_javascript %}
