{% extends "partials/base.html" %}

{% block title %} Cereri generale | Spații industriale {% endblock title %}

{% block content %}
    
    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Cereri generale | Spații industriale" %}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        {% if perms.leads.view_industrialspacelead %}
            <div class="row">
                <div class="col-lg-12">
                
                    <div class="card">
                        <div class="card-body">
                            <div id="industrialSpaceLeadsTable">
                                <div class="row g-4 mb-3">
                                    <div class="col-sm-auto">
                                        <div>
                                            <a href="{% url 'leads:add_new_lead' %}" class="btn btn-subtle-success">
                                                <strong><i class="ri-add-line align-bottom me-1"></i></strong> 
                                                Adaugă cerere
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm">
                                        <div class="d-flex justify-content-sm-end">
                                            <div class="dropdown">
                                                <button id="sort-button" class="btn btn-subtle-primary dropdown-toggle" 
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-funnel-fill"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="sort-button" 
                                                     style="width: 200px;">
                                                    <div class="mb-3">
                                                        <label for="sort-by" class="form-label">Sortează după</label>
                                                        <select id="sort-by" class="form-select">
                                                            <option value="customer_name">Nume client</option>
                                                            <option value="transaction_type">Tip tranzacție</option>
                                                            <option value="budget">Buget</option>
                                                            <option value="deadline_date">Ziua limită</option>
                                                            <option value="deadline_time">Ora limită</option>
                                                            <option value="id">ID cerere</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="sort-order" class="form-label">În ordine</label>
                                                        <select id="sort-order" class="form-select">
                                                            <option value="asc">Ascendentă</option>
                                                            <option value="desc">Descendentă</option>
                                                        </select>
                                                    </div>
                                                    <div class="d-grid">
                                                        <button id="apply-sort" class="btn btn-subtle-primary">Sortează</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="search-box ms-2">
                                                <input type="text" class="form-control search" placeholder="Caută cereri">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="table-responsive table-card mt-3 mb-1">
                                    <table class="table align-middle table-nowrap table-hover">
                                        <thead class="table-light">
                                            <tr>
                                                <th>ID</th>
                                                <th>Date contact</th>
                                                <th>Tip cerere</th>
                                                <th>Buget (€)</th>
                                                <th>Adresă</th>
                                                <th>Etichetă</th>
                                                <th>Termen limită</th>
                                                <th>Proprietăți asociate</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                            {% if general_industrial_space_leads %}
                                                {% for ind_sp in general_industrial_space_leads %}
                                                    <tr>
                                                        <td class="id">
                                                            {{ ind_sp.custom_id }}
                                                        </td>
                                                        <td>
                                                            <div class="customer_name">
                                                                <div class="mb-1">
                                                                    <a href="{% url 'contacts:contact_details' ind_sp.contact.id %}">
                                                                        <strong>{{ ind_sp.contact.first_name }} 
                                                                            {{ ind_sp.contact.last_name|default:'' }}</strong>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="phone_number">{% if ind_sp.contact.phone_number %}
                                                                {{ ind_sp.contact.phone_number }}{% else %}
                                                                <span class="text-muted"><i>Fără nr. telefon</i></span>{% endif %}
                                                            </div>
                                                            <div class="email">{% if ind_sp.contact.email %}
                                                                {{ ind_sp.contact.email }}{% else %}
                                                                <span class="text-muted"><i>Fără e-mail</i></span>{% endif %}
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="transaction_type">{{ ind_sp.transaction_type }}</div>
                                                            <div class="space_type">{{ ind_sp.space_type }}</div>
                                                            <div class="destination">{% if ind_sp.destination %}
                                                                {{ ind_sp.destination }}{% else %}
                                                                <span class="text-muted"><i>Nicio destinație</i></span>{% endif %}</div>
                                                        </td>
                                                        <td>
                                                            <div class="budget">{% if ind_sp.budget %}
                                                                <strong>{{ ind_sp.budget }}</strong>{% else %}
                                                                <span class="text-muted"><i>Nespecificat</i></span>{% endif %}</div>
                                                            <div class="payment_method">{% if ind_sp.payment_method %}
                                                                {{ ind_sp.payment_method }}{% else %}{% endif %}</div>
                                                        </td>
                                                        <td>
                                                            <div class="street">{% if ind_sp.street %}{{ ind_sp.street }}{% else %}
                                                                <span class="text-muted"><i>Stradă nespecificată</i></span>{% endif %}</div>
                                                            <div class="zone">{% if ind_sp.zone %}{{ ind_sp.zone }}{% else %}
                                                                <span class="text-muted"><i>Zonă nespecificată</i></span>{% endif %}</div>
                                                            <div class="city">{{ ind_sp.city }}</div>
                                                            <div class="county">{{ ind_sp.county }}</div>
                                                        </td>
                                                        <td class="label">
                                                            {% if ind_sp.label %}{{ ind_sp.label }}{% else %}
                                                                <span class="text-muted"><i>Fără etichetă</i></span>{% endif %}
                                                        </td>
                                                        <td>
                                                            <div class="deadline_date">{% if ind_sp.deadline_date %}
                                                                {{ ind_sp.deadline_date }}{% else %}
                                                                <span class="text-muted"><i>Fără dată limită</i></span>{% endif %}</div>
                                                            <div class="deadline_time">{% if ind_sp.deadline_time %}
                                                                Ora {{ ind_sp.deadline_time }}{% else %}
                                                                <span class="text-muted"><i>Fără oră limită</i></span>{% endif %}</div>
                                                        </td>
                                                        <td class="assigned_listings">
                                                            {% if ind_sp.assigned_listings.exists %}
                                                                {% for ind_sp in ind_sp.assigned_listings.all %}
                                                                    {{ ind_sp.id }}
                                                                    {% if not forloop.last %}, {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                <span class="text-muted"><i>Nu există</i></span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if perms.leads.view_industrialspacelead_details %}
                                                                {% if ind_sp.id %}
                                                                    <a class="btn btn-subtle-primary btn-custom-width"
                                                                       href="{% url 'leads:industrial_space_lead_details' ind_sp.id %}">
                                                                        <i class="bi bi-info-square"></i>&nbsp;&nbsp;Detalii
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                            <br>
                                                            {% if perms.leads.change_industrialspacelead %}
                                                                {% if ind_sp.id %}
                                                                    <a class="btn btn-subtle-info btn-custom-width"
                                                                       href="{% url 'leads:edit_industrial_space_lead' ind_sp.id %}">
                                                                        <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Editează
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="9"><h5 class="d-flex justify-content-md-center justify-content-sm-start">
                                                        Nicio cerere disponibilă.</h5>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            
                                <div id="noResultsMessage" class="d-none">
                                    <h5 class="d-flex justify-content-md-center justify-content-sm-start">
                                        Niciun rezultat găsit.
                                    </h5>
                                </div>
                            
                                <div class="d-flex justify-content-center justify-content-sm-end">
                                    <div class="pagination-wrap hstack gap-2">
                                        <a class="page-item pagination-prev disabled" href="#">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                        <ul class="pagination listjs-pagination mb-0"></ul>
                                        <a class="page-item pagination-next" href="#">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock content %}

{% block extra_javascript %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var options = {
                valueNames: ['id', 'customer_name', 'email', 'phone_number', 'transaction_type', 'space_type',
                    'destination', 'budget', 'payment_method', 'street', 'zone', 'city', 'county', 'label',
                    'deadline_date', 'deadline_time', 'assigned_listings']
            };
            
            var leadList = new List('industrialSpaceLeadsTable', options);
            
            // Funcția pentru a formata și afișa data în limba română
            function formatDate(element) {
                const text = element.textContent.trim();
                if (text && text !== 'Fără dată limită') {
                    const date = new Date(text);
                    element.textContent = flatpickr.formatDate(date, 'd M Y', flatpickr.l10ns.ro);
                }
            }
            
            // Selectez câmpul care conține elementul dată
            const dateElements = document.querySelectorAll('.deadline_date');
            
            // Formatez și afișez data
            dateElements.forEach(formatDate);
            
            // Funcția pentru sortare
            document.querySelector('#apply-sort').addEventListener('click', function() {
                var sortBy = document.querySelector('#sort-by').value;
                var sortOrder = document.querySelector('#sort-order').value;
        
                leadList.sort(sortBy, { order: sortOrder });
            });
            
            // Funcția pentru căutare
            document.querySelector('.search').addEventListener('keyup', function() {
                var searchText = this.value.toLowerCase();
                var rows = document.querySelectorAll('table tbody tr');
                var noResultsMessage = document.getElementById('noResultsMessage');
                var visibleRowCount = 0;
                
                rows.forEach(function(row) {
                    var cellText = row.textContent.toLowerCase();
                    if (cellText.indexOf(searchText) === -1) {
                        row.style.display = 'none';
                    } else {
                        row.style.display = '';
                        visibleRowCount++;
                    }
                });
                
                if (visibleRowCount === 0) {
                    noResultsMessage.classList.remove('d-none');
                } else {
                    noResultsMessage.classList.add('d-none');
                }
                
                // Reinitializez paginarea după căutare
                currentPage = 1;
                rows = document.querySelectorAll('table tbody tr');  // actualizez rândurile după căutare
                totalPages = Math.ceil(Array.from(rows).filter(row => row.style.display !== 'none').length / itemsPerPage);
                createPagination(totalPages);
                showPage(currentPage);
            });
            
            // Pagina curentă și numărul de elemente pe pagină
            var currentPage = 1;
            var itemsPerPage = 10;
            
            function showPage(page) {
                var rows = document.querySelectorAll('table tbody tr');
                var totalPages = Math.ceil(rows.length / itemsPerPage);
                
                if (page > totalPages) {
                    page = totalPages;
                }
                
                if (page < 1) {
                    page = 1;
                }
                
                currentPage = page;
                
                rows.forEach(function(row, index) {
                    row.style.display = 'none';
                });
                
                var start = (page - 1) * itemsPerPage;
                var end = start + itemsPerPage;
                for (var i = start; i < end; i++) {
                    if (rows[i]) {
                        rows[i].style.display = '';
                    }
                }
                
                document.querySelector('.pagination-prev').classList.toggle('disabled', page === 1);
                document.querySelector('.pagination-next').classList.toggle('disabled', page === totalPages);
                
                createPagination(totalPages); // Actualizez paginarea pentru a reflecta pagina curentă
            }
            
            // Evenimentele pentru butoanele de paginare
            document.querySelector('.pagination-prev').addEventListener('click', function() {
                if (currentPage > 1) {
                    currentPage--;
                    showPage(currentPage);
                }
            });
            
            document.querySelector('.pagination-next').addEventListener('click', function() {
                var rows = document.querySelectorAll('table tbody tr');
                var totalPages = Math.ceil(rows.length / itemsPerPage);
                if (currentPage < totalPages) {
                    currentPage++;
                    showPage(currentPage);
                }
            });
            
            // Funcția pentru a crea butoanele de paginare
            function createPagination(totalPages) {
                var paginationList = document.querySelector('.pagination.listjs-pagination');
                paginationList.innerHTML = '';
                
                function createPageItem(page) {
                    var li = document.createElement('li');
                    li.classList.add('page-item');
                    if (page === currentPage) {
                        li.classList.add('active');
                    }
                    li.innerHTML = `<a class="page-link" href="#">${page}</a>`;
                    li.addEventListener('click', function() {
                        currentPage = page;
                        showPage(currentPage);
                    });
                    paginationList.appendChild(li);
                }
                
                if (totalPages <= 5) {
                    for (var i = 1; i <= totalPages; i++) {
                        createPageItem(i);
                    }
                } else {
                    createPageItem(1);
                    if (currentPage > 3) {
                        var li = document.createElement('li');
                        li.classList.add('page-item', 'disabled');
                        li.innerHTML = `<span class="page-link">...</span>`;
                        paginationList.appendChild(li);
                    }
                    
                    var startPage = Math.max(2, currentPage - 1);
                    var endPage = Math.min(totalPages - 1, currentPage + 1);
                    
                    for (var i = startPage; i <= endPage; i++) {
                        createPageItem(i);
                    }
                    
                    if (currentPage < totalPages - 2) {
                        var li = document.createElement('li');
                        li.classList.add('page-item', 'disabled');
                        li.innerHTML = `<span class="page-link">...</span>`;
                        paginationList.appendChild(li);
                    }
                    
                    createPageItem(totalPages);
                }
            }
            
            // Inițializez paginarea
            var rows = document.querySelectorAll('table tbody tr');
            var totalPages = Math.ceil(rows.length / itemsPerPage);
            createPagination(totalPages);
            showPage(currentPage);
        });
    </script>
    
{% endblock extra_javascript %}
