{% extends "partials/base.html" %}

{% block title %} Detalii cerere | Spațiu industrial {% endblock title %}

{% block content %}

    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Detalii cerere | Spațiu industrial" %}
    {% endblock pagetitle %}

    {% if user.is_authenticated %}
        {% if perms.leads.view_industrialspacelead_details %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="view_industrial_space_lead_details" class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="contactInfo">
                                                <h5><span>{{ industrialspacelead.contact.first_name }}</span>
                                                    <span>{{ industrialspacelead.contact.last_name|default:'' }}</span></h5>
                                                <div>{{ industrialspacelead.contact.phone_number|default:'' }}</div>
                                                <div>{{ industrialspacelead.contact.email|default:'' }}</div>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip cerere: </strong>
                                                    {{ industrialspacelead.property_type }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip spațiu industrial: </strong>
                                                    {{ industrialspacelead.space_type }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Tip tranzacție: </strong>
                                                    {{ industrialspacelead.transaction_type }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Status cerere: </strong>
                                                    {{ industrialspacelead.lead_status }}</p>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Județ: </strong>
                                                    {{ industrialspacelead.county }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Localitate: </strong>
                                                    {{ industrialspacelead.city }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Zonă: </strong>
                                                    {{ industrialspacelead.zone|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Stradă: </strong>
                                                    {{ industrialspacelead.street|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Destinație: </strong>
                                                    {{ industrialspacelead.destination|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr camere: </strong>
                                                    {{ industrialspacelead.rooms_number|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr vestiare: </strong>
                                                    {{ industrialspacelead.nr_locker_rooms|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Număr băi: </strong>
                                                    {{ industrialspacelead.nr_bathrooms|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Etaj: </strong>
                                                    {{ industrialspacelead.floor|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Suprafață minimă (mp): </strong>
                                                    {{ industrialspacelead.minimal_surface|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Suprafață teren (mp): </strong>
                                                    {{ industrialspacelead.terrain_surface|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Compartimentare: </strong>
                                                    {{ industrialspacelead.space_compart|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Dimensiuni uși intrare: </strong>
                                                    {{ industrialspacelead.entrance_door_dimensions|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Înălțime interioară (m): </strong>
                                                    {{ industrialspacelead.inside_height|default:'. . .' }}</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-sm-6 mb-2">
                                                    <div class="form-check">
                                                        <input id="powerline" class="form-check-input"
                                                               name="powerline" type="checkbox">
                                                        <label for="powerline" class="form-check-label">
                                                            Trifazic (380V)</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-sm-6 mb-3">
                                                    <div class="form-check">
                                                        <input id="truck_access" class="form-check-input"
                                                               name="truck_access" type="checkbox">
                                                        <label for="truck_access" class="form-check-label">
                                                            Acces camion</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Alte detalii: </strong>
                                                    {{ industrialspacelead.other_details|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Buget (€): </strong>
                                                    {{ industrialspacelead.budget|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Metodă de plată: </strong>
                                                    {{ industrialspacelead.payment_method|default:'. . .' }}</p>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Urgență: </strong>
                                                    {{ industrialspacelead.urgency|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Data limită: </strong><span id="deadline_date"
                                                        data-deadline-date="{{ industrialspacelead.deadline_date|default:'. . .' }}">
                                                    {{ industrialspacelead.deadline_date|default:'. . .' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Ora limită: </strong>
                                                    {{ industrialspacelead.deadline_time|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Proprietăți asociate: </strong>
                                                    {{ industrialspacelead.assigned_listings|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <p class="card-text"><strong>Etichetă: </strong>
                                                    {{ industrialspacelead.label|default:'. . .' }}</p>
                                            </div>
                                            <div class="col-lg-12">
                                                <p class="card-text"><strong>Notițe proprii: </strong>
                                                    {{ industrialspacelead.notes|default:'. . .' }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-body-secondary d-flex flex-column flex-md-row justify-content-md-between">
                                    <div>
                                        Adăugată în data de <span id="created-at"
                                                                  data-created-at="{{ industrialspacelead.created_at }}"></span><br>
                                        Ultima actualizare în data de <span id="updated-at"
                                                                            data-updated-at="{{ industrialspacelead.updated_at }}"></span>
                                    </div>
                                    <div class="mt-2 mt-md-0 ms-md-auto">
                                        {% if perms.leads.change_industrialspacelead %}
                                            <a href="{% url 'leads:edit_industrial_space_lead' industrialspacelead.id %}"
                                               class="btn btn-subtle-info my-1">
                                                Editează
                                            </a>
                                        {% endif %}
                                        {% if perms.leads.delete_industrialspacelead %}
                                            <a href="{% url 'leads:delete_industrial_space_lead' industrialspacelead.id %}"
                                               class="btn btn-subtle-danger mx-1 my-1">
                                                Șterge
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock content %}

{% block extra_javascript %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Conținutul DOM a fost încărcat.');

            // Lista de ID-uri pentru checkbox-urile readonly
            const readonlyCheckboxes = ['powerline', 'truck_access'];

            readonlyCheckboxes.forEach(function(id) {
                const checkbox = document.getElementById(id);
                if (checkbox) {
                    checkbox.addEventListener('click', function(e) {
                        e.preventDefault();
                    });
                }
            });

            // Funcția pentru a formata și afișa data în limba română
            function formatDate(dateString) {
                if (!dateString || dateString === '. . .') {
                    return '. . .';
                }
                var date = new Date(dateString);
                var day = date.getDate();
                var monthNames = ['Ian', 'Feb', 'Mar', 'Apr', 'Mai', 'Iun', 'Iul', 'Aug', 'Sep', 'Oct', 'Noi', 'Dec'];
                var month = monthNames[date.getMonth()];
                var year = date.getFullYear();
                return day + ' ' + month + ' ' + year;
            }

            // Format dată "deadline_date"
            var deadlineDateElement = document.getElementById('deadline_date');
            var deadlineDate = deadlineDateElement.getAttribute('data-deadline-date');
            deadlineDateElement.textContent = formatDate(deadlineDate);

            // Format dată "created_at"
            var createdAtElement = document.getElementById('created-at');
            var createdAtDate = createdAtElement.getAttribute('data-created-at');
            createdAtElement.innerText = formatDate(createdAtDate);

            // Format dată "updated_at"
            var updatedAtElement = document.getElementById('updated-at');
            var updatedAtDate = updatedAtElement.getAttribute('data-updated-at');
            updatedAtElement.innerText = formatDate(updatedAtDate);
        });
    </script>

{% endblock extra_javascript %}
