{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Acasă {% endblock title %}

{% block content %}
    
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">Acasă</h4>
            </div>
        </div>
    </div>
    
    <div class="alert-container position-fixed top-0 end-0 p-3">
        {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
{% endblock content %}

{% block extra_javascript %}
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var alertContainer = document.querySelector('.alert-container');
            var alert = document.querySelector('.alert');
            
            function showMessage() {
                alertContainer.style.display = 'block';
                setTimeout(function () {
                    alertContainer.style.display = 'none';
                }, 5000);
            }
            
            if (alert && alert.innerHTML.trim() !== '') {
                showMessage();
            }
        });
    </script>
    
{% endblock extra_javascript %}
