{% extends "partials/base.html" %}

{% block title %} Șterge cerere | Spațiu de birouri {% endblock title %}

{% block content %}
    
    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Șterge cerere | Spațiu de birouri" %}
    {% endblock pagetitle %}
    
    {% if user.is_authenticated %}
        {% if perms.leads.delete_officespacelead %}
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="col-md-12 mb-3">
                                    <h4 class="text-center"><i class="bi bi-exclamation-triangle"></i> 
                                        Sigur vrei să ștergi cererea asociată contactului cu numele 
                                        {{ officespacelead.contact.first_name }} 
                                        {{ officespacelead.contact.last_name|default:'' }}?
                                    </h4>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-subtle-danger"><strong>DA</strong></button>
                                    <a href="{% url 'leads:office_space_lead_details' officespacelead.id %}" 
                                       class="btn btn-subtle-primary"><strong>NU</strong></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock content %}
