{% extends "partials/base.html" %}

{% block title %} Actualizare contact {% endblock title %}

{% block content %}

    {% block pagetitle %}
        {% include "partials/page_title.html" with pagetitle="Cereri" title="Actualizare contact" %}
    {% endblock pagetitle %}

    {% if user.is_authenticated %}
        {% if perms.contacts.change_contact %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="edit_contact" method="post" enctype="multipart/form-data" class="row"
                                  action="{% url 'contacts:edit_contact' contact.id %}">
                                {% csrf_token %}
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <label for="avatar" class="form-label">Avatar</label>
                                                <input id="avatar" class="form-control" name="avatar" type="file">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="first_name" class="form-label">Prenume <span 
                                                        class="firebrick-message">*</span></label>
                                                <input id="first_name" class="form-control" name="first_name"
                                                       value="{{ contact.first_name }}" type="text" required>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="last_name" class="form-label">Nume de familie</label>
                                                <input id="last_name" class="form-control" name="last_name"
                                                       value="{{ contact.last_name|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="phone_number" class="form-label">Număr de telefon <span 
                                                        class="text-muted">*</span></label>
                                                <input id="phone_number" class="form-control" name="phone_number" 
                                                       value="{{ contact.phone_number|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="email" class="form-label">Adresă de e-mail <span 
                                                        class="text-muted">*</span></label>
                                                <input id="email" class="form-control" name="email"
                                                       value="{{ contact.email|default:'' }}" type="email">
                                            </div>
                                            <hr class="border-secondary-subtle">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <label for="company" class="form-label">Companie</label>
                                                <input id="company" class="form-control" name="company"
                                                       value="{{ contact.company|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="job_title" class="form-label">Funcție</label>
                                                <input id="job_title" class="form-control" name="job_title"
                                                       value="{{ contact.job_title|default:'' }}" type="text">
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <label for="city" class="form-label">Localitate</label>
                                                <input id="city" class="form-control" name="city"
                                                       value="{{ contact.city|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="street_address" class="form-label">Stradă</label>
                                                <input id="street_address" class="form-control" name="street_address"
                                                       value="{{ contact.street_address|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="street_number" class="form-label">Număr stradă</label>
                                                <input id="street_number" class="form-control" name="street_number"
                                                       value="{{ contact.street_number|default:'' }}" type="number">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="block" class="form-label">Bloc</label>
                                                <input id="block" class="form-control" name="block"
                                                       value="{{ contact.block|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="scale" class="form-label">Scară</label>
                                                <input id="scale" class="form-control" name="scale"
                                                       value="{{ contact.scale|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="apartment_number" class="form-label">Număr apartament</label>
                                                <input id="apartment_number" class="form-control" name="apartment_number"
                                                       value="{{ contact.apartment_number|default:'' }}" type="number">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="county" class="form-label">Județ</label>
                                                <input id="county" class="form-control" name="county"
                                                       value="{{ contact.county|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="country" class="form-label">Țară</label>
                                                <input id="country" class="form-control" name="country"
                                                       value="{{ contact.country|default:'' }}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="col-lg-12 mb-3">
                                                <label for="document_type" class="form-label">Tip document</label>
                                                <select id="document_type" class="form-select" name="document_type">
                                                    <option value="" selected>--------</option>
                                                    {% for value, label in document_type %}
                                                        <option value="{{ value }}" {% if contact.document_type == value %}
                                                                selected{% endif %}>{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="id_series_nr" class="form-label">Serie / Număr</label>
                                                <input id="id_series_nr" class="form-control" name="id_series_nr"
                                                       value="{{ contact.id_series_nr|default:'' }}" type="text">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="cnp" class="form-label">CNP</label>
                                                <input id="cnp" class="form-control" name="cnp"
                                                       value="{{ contact.cnp|default:'' }}" type="number">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="issue_date" class="form-label">Data emiterii</label>
                                                <input id="issue_date" class="form-control" name="issue_date"
                                                       value="{{ contact.issue_date|default:'' }}" type="date" 
                                                       placeholder="zz lll aaaa">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="passport_country" class="form-label">
                                                    Țara emitentă (doar pentru pașaport)</label>
                                                <input id="passport_country" class="form-control" name="passport_country"
                                                       value="{{ contact.passport_country|default:'' }}" type="text">
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12 mb-3">
                                                <label for="contact_type" class="form-label">Tip contact</label>
                                                <select id="contact_type" class="form-select" name="contact_type">
                                                    <option value="" selected>--------</option>
                                                    {% for value, label in contact_type %}
                                                        <option value="{{ value }}" {% if contact.contact_type == value %}
                                                                selected{% endif %}>{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label for="contact_category" class="form-label">Categorie</label>
                                                <select id="contact_category" class="form-select" name="contact_category">
                                                    <option value="" selected>--------</option>
                                                    {% for value, label in contact_category %}
                                                        <option value="{{ value }}" {% if contact.contact_category == value %}
                                                                selected{% endif %}>{{ label }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <hr class="border-secondary-subtle">
                                            <div class="col-lg-12">
                                                <label for="other_details" class="form-label">Alte detalii</label>
                                                <textarea id="other_details" class="form-control" name="other_details" 
                                                          rows="4">{{ contact.other_details|default:'' }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-subtle-success float-end">
                                                <i class="bi bi-check-lg"></i>&nbsp;&nbsp;Actualizează contactul
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock content %}

{% block extra_javascript %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Conținutul DOM a fost încărcat.');
            
            // Inițializez flatpickr pentru câmpul de dată
            flatpickr('#issue_date', {
                dateFormat: 'd.m.Y',
                altInput: true,
                altFormat: 'd M Y',
                allowInput: true,
                locale: 'ro'
            });
            
            var leadAssignedListings = document.getElementById('assigned_listings');
            new Choices(leadAssignedListings, {
                loadingText: 'Se încarcă...',
                noChoicesText: 'Nicio proprietate disponibilă',
                noResultsText: 'Niciun rezultat găsit'
            });
        });
    </script>

{% endblock extra_javascript %}
